.profile-layout{
    -fx-background-color: #012545;
    -fx-background-radius: 0 0 50 50;
}

.button{
    -fx-background-color: #002D62;
    -fx-background-radius: 50;
}

.white-backgroung{
    -fx-background-color: #fff;
}

.transparent{
    -fx-background-color: rgba(0,0,0,0);
}

.municipalite{
    -fx-background-radius: 0 50 50 50;
}

.light-grey-background{
    -fx-background-color: #F3F3F3;
}

.hyperlink{
    -fx-background-color: #f63232;
}